@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0079FF;
  --body: #f2f2f2;
  --gray: #697C9A;
  --lightBlue: #4B6A9B;
  --dark: #2B3442;
  --white: #fff;
  --black: #141D2F;
  --purple: #1E2A47;

}

body {
  margin: 0;
  font-family: 'Space Mono';
}